html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}

div.offset-top {
	margin-top: 75px;
}

div#passphrase-table {
  margin-top: 50px;
}

iframe#plotly_combined {
  height: 400px;
}

.bold {
  font-weight: bold;
}